<p id="arr"></p>
<script>
    let a = document.getElementById('arr')
    let arr = [{
        firstname: "Temmy",
        Item: "Shoes",
        Date: "Mar 11 2016 10:00:00 AM" } ,
    
        {
        firstname: "Tobi",
        Item: "chair",
        Date: "June 1 2019 12:00:00 AM"},
    
        {
            firstname: "olu",
            Item: "Electronics",
            Date: "January 11 2018 10:00:00 AM"
        },
    
        {
        firstname: "Temmy",
        Item: "Toyin",
        Date: "Dec 11 2015 10:00:00 AM"
        }];

        let sort = arr.sort((a,b)=>{
            return new Date(a.Date) - new Date(b.Date);
        })

        a.innerHTML = JSON.stringify(sort);
        
    
        
</script>